:root {
  --border-main: 10px solid black;
  --marker-color:white;
  --game-board-color:rgb(145, 147, 167);
  --background-color:rgb(17, 21, 37);
  --gradient-start-off:rgb(52, 53, 65);
  --gradient-start-on:rgb(165, 169, 199);
  --gradient-start-winner: rgb(133, 223, 188);
}

body {
display: grid;
grid-template-columns: repeat(3, 1fr);
  height: 100vh;
  gap: 150px;

  background-color: var(--background-color);
}
.game-display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 500px;
  width: 500px;
}
.square {
  box-sizing: border-box;
  border: none;
  transition: 0.1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.game-display > *:hover {
  background-color: rgba(30, 47, 54, 0.603);
  transition: 0.1s ease-in-out;
}
.game-display > :nth-child(n + 7) {
  border-top: var(--border-main);
  border-color: var(--game-board-color);
}
.game-display > :nth-child(3n) {
  border-left: var(--border-main);
  border-color: var(--game-board-color);
}
.game-display > :nth-child(-n + 3) {
  border-bottom: var(--border-main);
  border-color: var(--game-board-color);
}
.game-display > :nth-child(3n + 1) {
  border-right: var(--border-main);
  border-color: var(--game-board-color);
}
.game-marker{
  fill: var( --marker-color);
  position: absolute;
  padding: 0;
  margin:0;
  height: 100px;
  width: 100px;

}
.player-name, .player-type{
  display: flex;
  justify-content: space-between;
}
.dialog-marker{
  height: 50px;
}
.player-marker{

  display: flex;
justify-content: space-evenly;
}

.dialog-marker{
  fill: rgba(128, 128, 128, 0.473);
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.dialog-marker:hover{
  scale: 1.25;
  transition: 0.15s ease-in-out;
}

.settings-marker-cog, .reset-game{
  height: 100px;
}
dialog{
  background-color: black;
  opacity: 90%;
  color: white;
  width: 700px;
  height: 500px;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
}
dialog::backdrop{
  filter: blur(6px);
}
.all-dialog{
  display: flex;
  flex-direction: column;
  height: 90%;
  align-items: center;
  justify-content: center;
  gap:30px;
}
.players{
display: flex;
height: 80%;
align-items: center;
gap: 30px;
width: 100%;
justify-content: space-around;
}
.first-player{
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  text-align: center;
  justify-content:space-around;
}
.name{
  font-size: 60px;
}
.start-button{
  width: 30%;
  height: 45px;
  border-radius: 20px;
  justify-content: center;
  font-size: 25px;
  cursor: pointer;
  background-color: gray;
  transition: 0.2s ease-in-out;
}
.start-button:hover{
  background-color: white;
  transition: 0.2s ease-in-out;
}
.game{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.playerone{
background:linear-gradient(90deg, var(--gradient-start-off), var(--background-color));
}
.playertwo{
  background:linear-gradient(270deg, var(--gradient-start-off), var(--background-color));
}
.side-screen{
  fill: green;
  height: 50px;
  width: 50px;
}
.active-one{
  transition: 2s ease-in-out;
  background:linear-gradient(90deg, var(--gradient-start-on), var(--background-color));
}
.active-two{
  transition: 1s ease-in-out;
  background:linear-gradient(270deg, var(--gradient-start-on), var(--background-color));
}
.winner-one{
  background:linear-gradient(90deg, var(--gradient-start-winner), var(--background-color));
}
.winner-two{
  background:linear-gradient(270deg, var(--gradient-start-winner), var(--background-color));

}
.reset-game{
  cursor: pointer;
}
.input-marker{
  display: none;
}
.marker-selected{
  fill: white;
  scale: 1.25;
}
.unclickable{
  pointer-events: none;
}

