:root {
  --border-main: 5px solid black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.game-display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 500px;
  width: 500px;
}
.square {
  border: 1px solid black;
  box-sizing: border-box;
  border: none;
  transition: 0.1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.game-display > *:hover {
  background-color: rgba(135, 207, 235, 0.603);
  transition: 0.1s ease-in-out;
}
.game-display > :nth-child(n + 7) {
  border-top: var(--border-main);
}
.game-display > :nth-child(3n) {
  border-left: var(--border-main);
}
.game-display > :nth-child(-n + 3) {
  border-bottom: var(--border-main);
}
.game-display > :nth-child(3n + 1) {
  border-right: var(--border-main);
}
.game-marker{
  position: absolute;
  padding: 0;
  margin:0;
  height: 100px;
  width: 100px;

}
.player-name, .player-type{
  display: flex;
}
.dialog-marker{
  height: 50px;
}
.player-marker{
  display: flex;
justify-content: space-evenly;
}
.input-marker{
  /* display: none; */
}
.dialog-marker{
  fill: rgba(128, 128, 128, 0.473);
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.dialog-marker:hover{
  fill: gray;
  scale: 1.1;
  transition: 0.1s ease-in-out;
}
.dialog-marker:focus{
  fill: green;
  scale: 1.1;
  transition: 0.1s ease-in-out;
}